<aside>
   <nav class="sidebar py-2 mb-4">
      <ul class="nav flex-column" id="nav_accordion">
       
         <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Pemasukan <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/admin/pages/">Daftar Pemasukan </a></li>
               <li><a class="nav-link" href="/admin/pages/add-pages/">Tambah Pemasukan </a></li>              
            </ul>
         </li>
         <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> Pengeluaran <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/admin/category/">Daftar Pengeluaran </a></li>
               <li><a class="nav-link" href="/admin/category/add-category/">Tambah Pengeluaran </a></li>           
            </ul>
         </li>
         
         
      </ul>
   </nav>
</aside>