
     <%-include('common/head.ejs')-%>
      <title>TBD Kelompok 8</title>
   </head>
   <body>
    <%-include('common/header.ejs')-%>
      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare">
                <%-include('common/sidebaar.ejs')-%>
               
            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
                <!-- put your contente -->

               <h1>Ini Dashboard</h1>
               

            </div>
         </div>
      </div>

     <%-include('common/footer.ejs')-%>